country.dat
dest/
*.deb
*.buildinfo
*.changes

# build
.DS_Store
*.empty
.empty
.DS_Store
/build
# Other

./*/.DS_Store
./*/*/.DS_Store
./*/*/*/.DS_Store

/www/manager6/OnlineHelpInfo.js
/www/manager6/pvemanagerlib.js
/www/mobile/pvemanager-mobile.js
/www/touch/touch-[0-9]*/
/pve-manager-[0-9]*/
